.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  body {
  font-family: 'Lato', sans-serif;
}
app-popup {
  display: none;
}

mat-toolbar {
  margin-bottom: 20px;
}

.cdk-overlay-pane {
  background: red;
  padding: 20px;
}